In [1]:
!python -V

Python 3.10.13

In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [5]:
import mlflow

mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiement("nyc-taxi-experiment")

ModuleNotFoundError: No module named 'mlflow'

In [7]:
df1 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df2 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

## Q1. Downloading the data

We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".

Download the data for January and February 2022.

Read the data for January. How many columns are there?

In [8]:
print("There are a total of", len(df1.columns),"columns.")

There are a total of 19 columns.

## Q2. Computing duration

Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

    32.59
    42.59
    52.59
    62.59

In [9]:
df1["duration"] = df1["tpep_dropoff_datetime"] - df1['tpep_pickup_datetime']
df1.duration = df1.duration.apply(lambda td: td.total_seconds() / 60)
df1['PUMonth'] = df1['tpep_pickup_datetime'].dt.month

In [10]:
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration,PUMonth
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,...,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333,1
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,...,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667,1
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,...,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000,1
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,...,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667,1
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,...,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333,1

In [11]:
df1 = df1[df1.PUMonth==1]

dur_std = df1['duration'].std() 

print("The Standard Deviation of Trip Duration is", round(dur_std,2) )

The Standard Deviation of Trip Duration is 42.59

## Q3. Dropping outliers

Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [12]:
df1_filter = df1[(df1.duration >= 1) & (df1.duration <= 60)]

In [13]:
print("The original dataset was",len(df1),"rows, and the newer dataset was", len(df1_filter),"rows. So we are left with",round(len(df1_filter)/len(df1),2)*100 ,"percent of the original dataset.")

The original dataset was 3066718 rows, and the newer dataset was 3009136 rows. So we are left with 98.0 percent of the original dataset.

## Q4. One-hot encoding

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

    Turn the dataframe into a list of dictionaries
    Fit a dictionary vectorizer
    Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

    2
    155
    345
    515
    715

In [14]:
# Convert columns to 'category' if they have a limited number of unique values
df1_filter[["PULocationID","DOLocationID"]] = df1_filter[["PULocationID","DOLocationID"]].astype(str)

/tmp/ipykernel_2270/2605247708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_filter[["PULocationID","DOLocationID"]] = df1_filter[["PULocationID","DOLocationID"]].astype(str)

In [15]:

q4_one_hot = df1_filter[["PULocationID", "DOLocationID"]]
q4_one_hot = q4_one_hot.to_dict(orient = "records")
v = DictVectorizer()

In [16]:
X = v.fit_transform(q4_one_hot)

In [17]:
X.shape

(3009136, 515)

## Q5. Training a model

Now let's use the feature matrix from the previous step to train a model.

    Train a plain linear regression model with default parameters
    Calculate the RMSE of the model on the training data

What's the RMSE on train?

In [18]:
X_train = X
y_train = df1_filter['duration'].values

lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_train)

In [19]:
mean_squared_error(y_train, y_pred, squared=False)

7.649229493769389

## Put the functions to read in the data all together.

In [20]:
def taxi_data_prep(filename, month, low_bnd,upp_bnd):
     df = pd.read_parquet(filename)
     # Start prep of duration
     df["duration"] = df["tpep_dropoff_datetime"] - df['tpep_pickup_datetime']
     df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)
     df['PUMonth'] = df['tpep_pickup_datetime'].dt.month 

     # Filter out the month and durations
     df = df[df.PUMonth==month]
     df_filter = df[(df.duration >= low_bnd) & (df.duration <= upp_bnd)]
     # Convert columns to 'category' if they have a limited number of unique values
     df_filter[["PULocationID","DOLocationID"]] = df_filter[["PULocationID","DOLocationID"]].astype(str)

     return df_filter

In [29]:
df_train = taxi_data_prep("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet",
                1, 1,60)
df_val = taxi_data_prep("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet",
                2, 1,60)

/tmp/ipykernel_2270/3872572736.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter[["PULocationID","DOLocationID"]] = df_filter[["PULocationID","DOLocationID"]].astype(str)
/tmp/ipykernel_2270/3872572736.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filter[["PULocationID","DOLocationID"]] = df_filter[["PULocationID","DOLocationID"]].astype(str)

## Q6. Evaluating the model

Now let's apply this model to the validation dataset (February 2023).

What's the RMSE on validation?

In [30]:
v = DictVectorizer()

# Create one hot encoding from df
categorical = ["PULocationID", "DOLocationID"]
train_dicts = df_train[categorical].to_dict(orient = "records")
val_dicts = df_val[categorical].to_dict(orient = "records")

X_train = v.fit_transform(train_dicts)
X_val = v.transform(val_dicts)

In [31]:
# Statistical Model Prep
target = 'duration'
y_train = df_train[target].values
y_val = df_val[target].values

In [32]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

7.811828263013413